
<div class="viewport sidebar panel fancy-scrollbar">
    <div class="node-list-heading">Nodes</div>
    @foreach (var category in exampleCategories)
    {
        <div class="node-list-subheading">@category.name</div>
        foreach (var node in category.nodes)
        {
            <NodeListPreview Data="node" />
        }
    }
</div>

@code {
    List<(string name, List<RegexNodeViewModelBase> nodes)> exampleCategories = new()
    {
        ("Normal",
        new ()
        {
            new TextNode(),
            new GroupNode(),
        }),

        ("Utvidet",
        new ()
        {
            new WildcardNode(),
            new CharSetNode(),
            new WhitespaceNode(),
            new UnicodeNode(),
        }),

        ("Endringer",
        new ()
        {
            new OrNode(),
            new IfElseNode(),
        }),

        ("Repitisjon",
        new ()
        {
            new QuantifierNode(),
            new ReferenceNode(),
            new ConcatNode(),
        }),

        ("Zero-Width Anchors",
        new ()
        {
            new AnchorNode(),
            new LookaroundNode(),
        }),

        ("Andre",
        new ()
        {
            new CommentNode(),
            new FlagNode(),
        }),

        ("Eksprimentell",
        new ()
        {
            new DecimalNode(),
            new IntegerNode(),
            new OptionalNode(),
            new ListNode(),
            new RecursionNode(),
        }),
    };
}
